body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 19px !important;
}
#search-btn:hover {
  background-color: #333;
  color: #fff;
}
.search-box {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 20px 0;
}

#all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.deatils-button {
  background-color: #0047ab !important;
  color: #fff !important;
}
.cart-button {
  background-color: #191970 !important;
  color: #fff !important;
}
.deatils-button:hover,
.cart-button:hover {
  color: #fff !important;
  background-color: #333 !important;
}

.single-product {
  width: 300px;
  height: auto;
  padding: 20px;
  transition: 0.6s;
  box-shadow: 0px 0px 36px -6px rgba(1 1 1 / 20%);
  border-radius: 10px;
  margin: 15px;
  padding-bottom: 40px;
}

.single-product-img {
  display: flex;
  justify-content: center;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  top: 250px;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
